

@media (max-width: 991px) {
  .main-content-inner {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .aside-wrapper {
  position: static;
    top: auto;
    transform: none;
    width: 100%;
    padding-top: 8rem;


    .aside-main-hero {
      display: block;
      figure {
        aspect-ratio: 1/0.65;
      }
    }
  }

  .content-inner {
    margin-left: 0;
    padding: 0;
  }
}


@media (max-width: 768px) {
 section.resume-section{
.resume-wrapper{
  li{
    display: block;
    span{
      display: block;
    }
  }
}
}
}
